<h1>Add a new dose to the <%= @cocktail.name %></h1>

<%= simple_form_for ([@cocktail, @dose]) do |f| %>
  <%= f.input :ingredient, collection: @ingredients, input_html: { class: 'select2' }%>
  <%= f.input :description %>
  <%= f.submit "Add", class: "btn btn-info" %>
<% end %>
</br>

<p><%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-outline-info" %></p>

