<% if @query %>
  <h2 class="my-3 ml-4">Our cocktails for '<%= @query %>'... (<%= @cocktails.length %>)</h2>
<% else %>
  <h2 class="my-3 ml-4">All our cocktails (<%= @cocktails.length %>)</h2>
<% end %>

<div class="d-flex align-items-center p-2 rounded row justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <div class="card rounded shadow-sm p-0 col-lg-3 col-md-4 col-sm-8 col-8 mr-1 mb-5">
      <div>
        <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% cocktail.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <%= cl_image_tag photo.key, height: 180, crop: :fill %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% else %>
            <div class="bg-secondary picture" style="height: 200px;">
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="picture bg-light border">
        <h4 class="m-0 p-2 text-center text-uppercase font-weight-bold">
        <%= cocktail.name %></h4>
      </div>
    </div>
  <% end %>
</div>
