<% if @query %>
  <h2 class="my-3 ml-4">Our cocktails for '<%= @query %>'... (<%= @cocktails.length %>)</h2>
<% else %>
  <h2 class="my-3 ml-4">All our cocktails (<%= @cocktails.length %>)</h2>
<% end %>

<div class="d-flex align-items-center p-2 rounded row justify-content-around">
  <% @cocktails.each do |cocktail| %>
  <div class="card rounded shadow-sm p-0 col-lg-3 col-md-4 col-sm-8 col-8 mr-1 mb-5">
      <div><%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.attached? %>
          <div class="bg-light picture" style="height: 200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>'); background-size: cover; background-position: center center;"> <h3 class="text-center text-uppercase font-weight-bold text-white">
            <%= cocktail.name %>
          </div>
        <% else %>
        <div class="bg-secondary picture" style="height: 200px;"> <h3 class="text-center text-uppercase font-weight-bold text-white">
          <%= cocktail.name %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

